// font varibale

$karla: "Karla", sans-serif;
$regular: 400;
$bold: 700;
$fontsize: 1rem;

// color variable
$cyan: hsl(179, 62%, 43%);
$brightyellow: hsl(71, 73%, 54%);
$lightgray: hsl(204, 43%, 93%);
$grayishblue: hsl(218, 22%, 67%);

$minwidth: 50.75rem;
